<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="woodnetwork.hebg3.com.woodnetwork">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WoodNetworkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".sysfunction.activity.LoginActivity" />
        <activity android:name=".sysfunction.activity.GetPasswordActivity" />
        <activity android:name=".ShoppingMall.activity.ShoppingMallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShoppingMall.activity.BusnessInfoActivity" />
        <activity android:name=".ShoppingMall.activity.WoodInfoActivity" />
        <activity android:name=".ShoppingMall.activity.ConfirmOrderActivity" />
        <activity android:name=".ShoppingMall.activity.OrderListActivity" />
        <activity android:name=".ShoppingMall.activity.ChooseAddressActivity" />
        <activity android:name=".ShoppingMall.activity.ShoopingCartActivity" />
        <activity android:name=".QiuGou.activity.WoYaoBaoJiaActivity" />
        <activity android:name=".ZiXun.activity.ZiXunXiangQingActivity" />
        <activity android:name=".ZiXun.activity.ZiXunListActivity" />
        <activity android:name=".WoDe.activity.MyInformationActivity" />
        <activity android:name=".WoDe.activity.SettingActivity" />
        <activity android:name=".WoDe.activity.AboutMeActivity" />
        <activity android:name=".WoDe.activity.AdviceActivity" />
        <activity android:name=".WoDe.activity.MyQuotationActivity" />
        <activity android:name=".WoDe.activity.QuotationInfoActivity" />
        <activity android:name=".WoDe.activity.ReportsActivity" />
        <activity android:name=".WoDe.activity.ProductSellerListActivity" />
        <activity android:name=".WoDe.activity.DemandBuyerInfoActivity"></activity>
        <activity android:name=".WoDe.activity.DemandBuyerListActivity" />
        <activity android:name=".DingDanGuanLi.activity.MyOrderActivity"></activity>
    </application>

</manifest>